{% extends "base.html" %}
{% block content %}
  <div class="bg-page">
    <div>
        <h1 class="col-12 page-title">{{ page_title }}</h1>
    </div>
    <form method="POST" action="{{ url_for('add-theory') }}">
      <!---Categories Selection-->
      <div class="form-group">
        <label class="box-text" for="categories"><h2>Categories</h2></label>
        <small id="emailHelp" class="form-text text-muted">Please Choose a category that best fits your theory</small>
        <select class="form-control validate" id="category_name" name="category_name">
          {% for theory in theories %}
          <option value="{{ theory.title }}">{{ theory.title }}</option>
          {% endfor %}
        </select>
      </div>
      <!---Title Input-->
      <div class="form-group">
        <label class="box-text" for="title"><h2>Title</h2></label>
        <input type="email" class="form-control" id="title" name="title" for="title" aria-describedby="emailHelp" placeholder="Title of your theory">
      </div>
      <!---Username Input-->
      <div class="form-group">
          <label class="box-text" for="username"><h2>Username</h2></label>
        <input type="username" class="form-control" id="username" name="username" placeholder="Your name or whatever you want it to be displayed as">
      </div>
      <!---Content Input-->
      <div class="form-group">
          <label class="box-text" for="content"><h2>Theory</h2></label>
          <textarea class="form-control" id="content" name="content" rows="6"></textarea>
        </div>
        <!---Submit Button-->
      <button type="submit" class="box box-text create-btn create-btn-title col-md-4" name="submit_theory"><h2>Submit</h2></button>
    </form>
  </div>
{% endblock %}