{% extends "base.html" %}
{% block content %}

    <!---Banner-->
    <img src="{{ url_for('static', filename='images/crew-theory-banner.png') }}" alt="Banner Image" class="banner">
    <!---Sections-->
    <div class="bg-page ">
        <div>
            <h1 class="col-12 page-title">{{ page_title }}</h1>
        </div>
        <div class="row">
            <div class="col-md-5 sections">
                {% if session.user %}
                    <a href="{{ url_for('add_theories') }}">
                        <button type="submit" onclick="" class="box create-btn">
                            <h5 class="box-text create-btn-title">Create Theory</h5>
                        </button>
                    </a>
                {% else %}
                    <a href="{{ url_for('login') }}">
                        <button type="submit" onclick="" class="box create-btn">
                            <h5 class="box-text create-btn-title">Create Theory</h5>
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
        <br>
        {% for crew in crews %}
            {% if crew.category == "Crew Theory" %}
                <div id="accordion">
                    <div class="col-12 card box">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed box-text theory-title" data-toggle="collapse"
                                    data-target="#{{ crew._id }}" aria-expanded="false" aria-controls="collapseTwo">
                                    {{ crew.title }}
                                </button>
                                {% if session.user|lower == crew.created_by|lower %}
                                <a href="{{ url_for('edit_theories', theory_id=crew._id, category='crew') }}"
                                    class="box-text theory-btn edit-btn"><i class="fas fa-edit"></i></a>
                                <a href="{{ url_for('delete_theories', theory_id=crew._id) }}"
                                    class="box-text theory-btn delete-btn"><i class="fas fa-trash-alt"></i></a>
                                {% endif %}
                            </h5>
                        </div>
                        <div id="{{ crew._id }}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body box-text theory-desc">
                                {{ crew.created_by }}<br>
                                <br>
                                {{ crew.content }}<br>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            {% endif %}
        {% endfor %}
        
    </div>

{% endblock %}


