{% extends "base.html" %}
{% block content %}
  <div class="bg-page register">
    <div>
        <h1 class="col-12 page-title">{{ page_title }}</h1>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 box register-card">
        <form method="POST" action="{{ url_for('edit_theories', theory_id=content._id) }}">
          <!---Title Input-->
          <div class="form-group">
            <label class="box-text" for="title">
              <h2>Title</h2>
            </label>
            <input type="text" value="{{ content.title }}" class="form-control forms" id="title" name="title" for="title"
              aria-describedby="emailHelp" placeholder="Title of your theory">
          </div>
          <input type="hidden" value="{{ content.category_name }}" id="category_name" name="category_name" for="category_name">
          <!---Content Input-->
          <div class="form-group">
            <label class="box-text" for="content">
              <h2>Theory</h2>
            </label>
            <textarea class="form-control forms" id="content" name="content" rows="10">{{ content.content }}</textarea>
          </div>
          <!---Submit Button-->
          <button type="submit" class="box box-text create-btn create-btn-title col-md-4 edit-btn" name="edit_theory">
            <h2>Edit</h2>
          </button>
          <!--Cancel Button-->
          <a href="{{ url_for('theories') }}">
            <button type="button" class="box box-text create-btn create-btn-title col-md-4 edit-btn">
              <h2>Cancel</h2>
            </button>
          </a>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
{% endblock %}
