{% extends "base.html" %}
{% block content %}
    <!---Banner-->
    <img src="assets/images/straw_hat_crew_pic.jpg" alt="Banner Image" class="banner">
    <!---Sections-->
    <div class="bg-page">
        <div>
            <h1 class="col-12 page-title">Explore</h1>
        </div>
        <div  class="col-md-12 d-inline-flex explore-content">
            <div class="col-sm-6 btn-container">
                <a href="explore-pages/episodes.html" class="explore-btn"><img src="assets/images/episodes_thumbnail.png" alt="Episodes Btn"></a>
                <p>Episodes</p>
            </div>
            <div class="col-sm-6 btn-container">
                <a href="" class="explore-btn"><img src="assets/images/chapters_thumbnail.png" alt="Chapters Btn"></a>
                <p>Chapters</p>
            </div>
        </div>
        <div  class="col-md-12 d-inline-flex explore-content">
            <div class="col-sm-6 btn-container">
                <a href="" class="explore-btn"><img src="assets/images/movies_thumbnail.png" alt="Movies Btn"></a>
                <p>Movies</p>
            </div>
            <div class="col-sm-6 btn-container">
                <a href="explore-pages/characters.html" class="explore-btn"><img src="assets/images/characters_thumbnail.png" alt="Characters Btn"></a>
                <p>Characters</p>
            </div>
        </div>
        <div  class="col-md-12 d-inline-flex explore-content">
            <div class="col-sm-6 btn-container">
                <a href="" class="explore-btn"><img src="assets/images/history_thumbnail.png" alt="History Btn"></a>
                <p>History</p>
            </div>
            <div class="col-sm-6 btn-container">
                <a href="" class="explore-btn"><img src="assets/images/atlas_thumbnail.png" alt="Atlas Btn"></a>
                <p>Atlas</p>
            </div>
        </div>
        <div  class="col-md-12 d-inline-flex explore-content">
            <div class="col-sm-6 btn-container">
                <a href="" class="explore-btn"><img src="assets/images/zoology_thumbnail.png" alt="Zoology Btn"></a>
                <p>Zoology</p>
            </div>
            <div class="col-sm-6 btn-container">
                <a href="" class="explore-btn"><img src="assets/images/cast_thumbnail.png" alt="Cast Btn"></a>
                <p>Cast</p>
            </div>
        </div>
        <div  class="col-md-12 d-inline-flex explore-content">
            <div class="col-sm-6 btn-container">
                <a href="" class="explore-btn"><img src="assets/images/culture_thumbnail.png" alt="Culture Btn"></a>
                <p>Culture</p>
            </div>
            <div class="col-sm-6 btn-container">
                <a href="" class="explore-btn"><img src="assets/images/author_thumbnail.png" alt="Author Btn"></a>
                <p>Author</p>
            </div>
        </div>
        <div  class="col-md-12 d-inline-flex explore-content">
            <div class="col-sm-6 btn-container">
                <a href="" class="explore-btn"><img src="assets/images/news_thumbnail.png" alt="News Btn"></a>
                <p>News</p>
            </div>
            <div class="col-sm-6 btn-container">
                <a href="" class="explore-btn"><img src="assets/images/merch_thumbnail.png" alt="Merchandise Btn"></a>
                <p>Merchandise</p>
            </div>
        </div>
    </div>
{% endblock %}