{% extends "base.html" %}
{% block content %}

    <!---Banner-->
    <img src="{{ url_for('static', filename='images/devil-fruit-banner.jng') }}" alt="Banner Image" class="banner">
    <!---Sections-->
    <div class="bg-page ">
        <div>
            <h1 class="col-12 page-title">{{ page_title }}</h1>
        </div>
        <div class="row">
            <div class="col-md-5 sections">
                <a href="{{ url_for('add_theories') }}">
                    <button type="submit" onclick="" class="box create-btn">
                        <h5 class="box-text create-btn-title">Create Theory</h5>
                    </button>
                </a>
            </div>
        </div>
        <br>
        {% for fruit in fruits %}
            <div id="accordion">
                    <div class="col-12 card box">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                        <button class="btn btn-link collapsed box-text theory-title" data-toggle="collapse" data-target="#{{ fruit._id }}" aria-expanded="false" aria-controls="collapseTwo">
                            {{ fruit.title }}
                        </button>
                        {% if session.user|lower == fruit.username|lower %}
                            <a href="{{ url_for('edit_theories', theory_id=fruit._id) }}" class="box-text theory-btn edit-btn"><i class="fas fa-edit"></i></a>
                            <a href="" class="box-text theory-btn delete-btn"><i class="fas fa-trash-alt"></i></a>
                        {% endif %}
                        </h5>
                    </div>
                    <div id="{{ fruit._id }}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body box-text theory-desc">
                        {{ fruit.user }}<br>
                        <br>
                        {{ fruit.content }}<br>
                        </div>
                    </div>
                    </div>
            </div>
            <br>
        {% endfor %}
        
    </div>

{% endblock %}


