{% extends "base.html" %}
{% block content %}
<div class="row bg-page">
    <div class="col-md-8 sections">
        <div class="box">
            <img src="{{ url_for('static', filename='images/Crew_Pic.jpg') }}" alt="Banner Image" class="box-img">
            <ul>
                <li>
                    <h2 class="box-text">
                        Welcome!
                    </h2>
                </li>
                <li>
                    <p class="box-text">
                        Welcome to Straw Facts! A place of speculation and investigation. Here we provide you with the tools
                        to theorize and share said theories with the countless number of other theorizers. Unleash your
                        wildest theories with everyone! Browse through the many theory categories and put on your tin
                        foil hat as you question everything the One Piece has to offer!
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 sections-2">
        <div class="box">
            <ul>
                <li>
                    <h4 class="box-text">
                        News!
                    </h4>
                </li>
                <li>
                    <p class="box-text news">
                        Chapter 1021: "Demonio"
                        <br>
                        <br>
                        Black Maria overwhelms Robin with a combination of fire, spider web, and physical attacks and
                        begins questioning Robin's usefulness again. However, Robin is able to use a Fish-Man Karate
                        attack, which she learned from Koala and Hack on Baltigo, to put out the fire. Her giant clone
                        then takes the form of a demon, and it seizes hold of Black Maria and smashes her into the
                        ground, defeating her. Brook then finishes off Maria's subordinates with a single music attack.
                        <br>
                        <br>
                        On the Wano Country mainland, Luffy gorges on meat that a nearby Caribou had stored and regains
                        his strength. Meanwhile, Momonosuke begs Shinobu to use her Juku Juku ability to age his body
                        into an adult so he can become a bigger dragon, even though Shinobu warns that this technique is
                        irreversible.
                    </p>
                </li>
            </ul>
        </div>
        <div class="mt-15 box">
            <ul>
                <li>
                    <h4 class="box-text">
                        Theories
                    </h4>
                </li>
                <li>
                    {% for theory in theories %}
                    <a href="{{ theory.url }}" class="box-links">{{ theory.title }}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}