{% extends "base.html" %}
{% block content %}
    <!---Banner-->
    <img src="{{ url_for('static', filename='images/media-banner.jpg') }}" alt="Banner Image" class="banner">
    <!---Sections-->
    <div class="bg-page">
        <div>
            <h1 class="col-12 page-title">{{ page_title }}</h1>
        </div>
        <div class="row">
            <div class="col-md-5 sections">
                <div class="box">
                    <ul>
                        <li>
                            <h4 class="box-text">
                                Where can you watch/read?
                            </h4>
                        </li>
                        <li>
                            <h5 class="box-text">Watch :</h5>
                            <p class="box-text media">
                                So where can you watch One Piece?
                                You can find One Piece on Crunchyroll,
                                on Japanese Netflix if you have a vpn. As well as third party sites such as 9anime.to
                            </p>
                        </li>
                        <li>
                            <h5 class="box-text">Read :</h5>
                            <p class="box-text media">
                                So where can you read One Piece?
                                Traditionally you can find manga such as One Piece in your local comic book store or
                                book store. If you find yourself not wanting to spend money or you just don’t have acess
                                to the manga’s you can read it in sites such as myonepiecemanga.com
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 sections-2">
                <h2 class="box-text">Watch</h2>
                <div  class="col-md-12 d-inline-flex explore-content">
                    <div class="col-sm-6 btn-container">
                        <a href="https://www.crunchyroll.com/one-piece" class="explore-btn"  target=”_blank”><img src="{{ url_for('static', filename='images/crunchyroll.png') }}" alt="Crunchyroll Btn"></a>
                    </div>
                    <div class="col-sm-6 btn-container">
                        <a href="https://www.funimation.com/shows/one-piece/?gclid=CjwKCAjwmK6IBhBqEiwAocMc8qovfaT079ShOwcYLrrVzg2q0smfPTMEQwUajLDcR1gkuzEaIRS5IhoCcZEQAvD_BwE" class="explore-btn" target=”_blank”><img src="{{ url_for('static', filename='images/funimaiton.png') }}" alt="Funimation Btn"></a>
                    </div>
                </div>
                <div  class="col-md-12 d-inline-flex explore-content">
                    <div class="col-sm-6 btn-container">
                        <a href="https://9anime.to/watch/one-piece.ov8/ep-1" class="explore-btn"  target=”_blank”><img src="{{ url_for('static', filename='images/9anime.png') }}" alt="9Anime Btn"></a>
                    </div>
                    <div class="col-sm-6 btn-container">
                        <a href="https://kissanime.mx/watch/one-piece-JeL-episode-1/" class="explore-btn"  target=”_blank”><img src="{{ url_for('static', filename='images/KissAnime.png') }}" alt="KissAnime Btn"></a>
                    </div>
                </div>
                <h2 class="box-text">Read</h2>
                <div  class="col-md-12 d-inline-flex explore-content">
                    <div class="col-sm-6 btn-container">
                        <a href="https://myonepiecemanga.com/" class="explore-btn" target=”_blank”><img src="{{ url_for('static', filename='images/read_thumbnail_1.png') }}" alt="Read Btn"></a>
                    </div>
                    <div class="col-sm-6 btn-container">
                        <a href="https://online-one-piece.com/" class="explore-btn" target=”_blank”><img src="{{ url_for('static', filename='images/read_thumbnail_2.png') }}" alt="Read Btn"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}