{% extends "base.html" %}
{% block content %}
    <div class="bg-page register">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                    <div class="card box" style=" width: 100%;">
                        <div class="card-body register-card">
                            <h5 class="card-title box-text t-center">{{ username }}'s Profile</h5>
                        </div>
                        <p class="box-text"> <i class="fas fa-user"></i> Your Theories:</p>
                    </div>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}