{% extends "base.html" %}
{% block content %}

    <!---Banner-->
    <img src="{{ url_for('static', filename='images/world-theories-banner.png') }}" alt="Banner Image" class="banner">
    <!---Sections-->
    <div class="bg-page">
        <div>
            <h1 class="col-12 page-title">{{ page_title }}</h1>
        </div>
        <div class="row">
        {% for worlds in world %}

            {% if loop.index % 2 != 0 %}

                <div class="col-12 sections">
                        <div  class="col-md-12 d-inline-flex explore-content">
                            <div class="box">
                                <div class="col-12 ">
                                    <a href="{{ worlds.url }}" class="col-md-4">
                                        <h4 class=" box-text theory-title">
                                            {{ worlds.title }}
                                        </h4>
                                    </a>
                                    <a href="{{ worlds.url }}" class="col-md-8">
                                        <p class="box-text theory-desc">
                                            {{ worlds.description }}
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>

            {% else %}

                <div class="col-12 sections">
                        <div  class="col-md-12 d-inline-flex explore-content">
                            <div class="box">
                                <div class="col-12 ">
                                    <a href="{{ worlds.url }}" class="col-md-4">
                                        <h4 class=" box-text theory-title">
                                            {{ worlds.title }}
                                        </h4>
                                    </a>
                                    <a href="{{ worlds.url }}" class="col-md-8">
                                        <p class="box-text theory-desc">
                                            {{ worlds.description }}
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
                            
            {% endif %}

        {% endfor %}
        </div>
    </div>

{% endblock %}